set -gx HF_TOKEN "{{ gopass "api/hf" }}"
set -gx DEEPSEEK_API_KEY "{{ gopass "api/deepseek" }}"
set -gx OPENROUTER_API_KEY "{{ gopass "api/openrouter" }}"
set -gx TAVILY_API_KEY "{{ gopass "api/tavily" }}"
